* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
  background-color: #0b0b0b;

  .box {
    width: 10px;
    height: 10px;
    transition: all ease 0.4s;
  }

  .box.active {
    background-color: green;
  }
}
